form {
    .form-row {
        height: $form-input-height;
        margin-bottom: $form-layout-padding;

        .form-input {
            float: left;
            width: 100%;
            position: relative;
            &.half {
                width: calc(50% - #{$form-layout-padding / 2});
                &:last-child {
                    float: right;
                }
            }
            &.submit {
                text-align: center;
                margin-top: 20px;
            }
            &.required::after {
                position: absolute;
                content: '*';
                right: 18px;
                top: 14px;
                font-size: 20px;
                color: $opfront-teal;
                font-weight: lighter;
            }
        }

        input, textarea {
            width: 100%;
            padding: 10px 20px;
            border: 1px solid $opfront-gray;
            font-weight: normal;
            font-size: $buttons-font-size;

            &.no-glow {
                &:focus {
                    outline: none !important;
                }
            }
            &.teal-glow {
                &:focus {
                    outline: none !important;
                    border: 2px solid $opfront-teal;
                    box-shadow: 0 1px 1px rgba(110, 255, 246, 0.075) inset, 0 0 8px rgba(110, 255, 246, 0.6);
                }
            }
            &.filled {
                border-color: black;
            }
        }
        input {
            height: $form-input-height;
        }
        textarea {
            height: $form-textarea-height;
            margin-bottom: $form-layout-padding;
        }
    }

    &.inverted {
        input, textarea {
            border: 1px solid white;
            background-color: black;
            color: white;
            &.filled {
                border-color: white;
            }
        }
    }
}

.thanks {
    margin-top: 175px;
    margin-bottom: 0;
    font-style: italic;
    opacity: 0;
    height: 0;
    transition: 1s ease;
    &.active {
        height: 72px;
        opacity: 1;
    }
}

@media #{$tablet-media-query} {

}

@media #{$phone-media-query} {
    form {
        .form-row {
            margin-bottom: 0;
            .form-input.half {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}
