form {
    .form-row {
        height: $form-input-height;
        margin-bottom: $form-layout-padding;

        .form-input {
            float: left;
            width: 100%;
            &.half {
                width: calc(50% - #{$form-layout-padding / 2});
                &:last-child {
                    float: right;
                }
            }
            &.submit {
                button {
                    float: right;
                }
            }
        }
        input, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid black;

            &.no-glow {
                &:focus {
                    outline:none !important;
                }
            }
            &.teal-glow {
                &:focus {
                    outline:none !important;
                    border-color: rgba(0, 255, 255, 1);
                    box-shadow: 0 1px 1px rgba(110, 255, 246, 0.075) inset, 0 0 8px rgba(110, 255, 246, 0.6);
                }
            }
        }
        input {
            height: $form-input-height;
        }
        textarea {
            height: $form-textarea-height;
            margin-bottom: $form-layout-padding;
        }

    }

    &.inverted {
        input, textarea {
            border: 1px solid white;
            background-color: black;
            color: white;
        }
    }
}