.page-content section.aside-section {
    z-index: 3;
    .navigation-control {
        color: white;
        top: 50px;
        font-size: 14px;
        transform: translateX(calc(-50% - #{$navbar-width / 2}));
    }
}

@keyframes closeGetStarted {
    0% {
        left: $navbar-width;
        top: 0;
    }
    33% {
        left: 100%;
        top: 0;
    }
    67% {
        left: 100%;
        top: 100%;
    }
    100% {
        left: $navbar-width;
        top: 100%;
    }
}

@keyframes closeGetStartedMobile {
    0% {
        left: $navbar-mobile-width;
        top: 0;
    }
    33% {
        left: 100%;
        top: 0;
    }
    67% {
        left: 100%;
        top: 100%;
    }
    100% {
        left: $navbar-mobile-width;
        top: 100%;
    }
}

#get-started, #choose-solution, #subscribe, #webstore, #thanks {
    @include viewport-unit(width, 100vw);
    padding-right: $navbar-width;

    @include black-section();
    top: 100%;
    left: $navbar-width;
    transition: $get-started-animation-duration;

    &.active {
        top: 0;
        transition: $get-started-animation-duration;
    }

    &.closing {
        animation: closeGetStarted $get-started-animation-duration * 3;
    }
}

#get-started {
    top: 0;
    left: 100%;

    &.active {
        left: $navbar-width;
    }

    .section-container {
        .option {
            width: calc(50% - #{$get-started-options-padding / 2});
            height: 200px;
            padding: $get-started-options-padding;

            border: 1px solid white;
        }
    }
}

//#choose-solution {
//    .subtitle {
//        font-size: 50px;
//    }
//
//    .choose {
//        margin-top: 75px;
//    }
//
//    .section-container {
//        .section-content {
//            width: 700px;
//        }
//
//        .option {
//            width: calc(50% - #{$choose-solution-options-padding / 2});
//        }
//        .paragraph-image {
//            margin-top: 0;
//            margin-bottom: 25px;
//        }
//
//        .btn.choose {
//            float: right;
//        }
//    }
//}
//
//#subscribe {
//    .section-container {
//        .btn[type="submit"] {
//            margin-top: 75px;
//        }
//    }
//    form .form-row {
//        input, textarea {
//            &.filled {
//                border-color: white;
//            }
//        }
//    }
//}
//
//#webstore {
//    .section-container {
//        .btn.subscribe {
//            float: right;
//        }
//    }
//}

.section-container {
    .option {
        float: left;
        .choose {
            text-align: center;
            margin-top: 40px;
        }

        &:last-child {
            float: right;
        }

        .paragraph-title {
            letter-spacing: 1px;
            line-height: $get-started-options-line-height;
        }
        p {
            line-height: $get-started-options-line-height;
        }
    }
}

@media #{$tablet-media-query} {
    .page-content section.aside-section {
        .navigation-control {
            transform: translateX(calc(-50% - #{$navbar-mobile-width / 2}));
        }
    }
    #get-started, #choose-solution, #subscribe, #webstore, #thanks {
        padding-right: $navbar-mobile-width;
        left: $navbar-mobile-width;
        &.closing {
            animation: closeGetStartedMobile $get-started-animation-duration * 3;
        }
    }

    #get-started {
        left: 100%;
        &.active {
            left: $navbar-mobile-width;
        }
    }
}

@media #{$phone-media-query} {
    .section-container {
        margin-bottom: 0;
    }

    #get-started {
        bottom: 0;
        overflow-y: scroll;
        .section-container {
            height: 100%;
            .title {
                margin-top: 100px;
            }
        }
    }

    #thanks {
        height: 100%;
    }
    form .form-row .form-input.submit {
        margin-bottom: 50px;
    }

    // This fixes bug on mobile where thanks message overlaps form and submit btn is under it so we can't click it.
    #contact .section-content {
        .paragraph:nth-child(3) {
            min-height: 535px;
        }
        .thanks {
            margin-top: 0;
            .paragraph-content {
                padding-bottom: $layout-padding/2;
            }
        }
    }
}

@media only screen and (max-device-width: #{$small-phone}) {
    form .form-row input {
        font-size: 15px;
    }
}
