@mixin blackSection() {
    position: fixed;
    transition: 0.6s;
    background-color: black;
    color: white;
}

.page-content section.aside-section {
    .navigation-control {
        color: white;
        top: 50px;
        font-size: 14px;
        transform: translateX(calc(-50% - #{$navbar-width / 2}));
    }
}

@keyframes closeGetStarted {
    0% {
        left: $navbar-width;
        top: 0;
    }
    33% {
        left: 100%;
        top: 0;
    }
    67% {
        left: 100%;
        top: 100%;
    }
    100% {
        left: $navbar-width;
        top: 100%;
    }
}

#get-started, #choose-solution, #subscribe, #webstore, #thanks {
    @include viewport-unit(width, 100vw);
    padding-right: $navbar-width;

    @include blackSection();
    top: 100%;
    left: $navbar-width;

    &.active {
        top: 0;
    }

    &.closing {
        animation: closeGetStarted 1.8s;
    }
}

#get-started {
    top: 0;
    left: 100%;
    &.active {
        left: $navbar-width;
    }

    .section-container {
        .option {
            width: calc(50% - #{$get-started-options-padding / 2});
            height: 200px;
            padding: $get-started-options-padding;

            border: 1px solid white;
        }
    }
}

#choose-solution {
    .subtitle {
        font-size: 50px;
    }

    .choose {
        margin-top: 75px;
    }

    .section-container {
        .section-content {
            width: 700px;
        }

        .option {
            width: calc(50% - #{$choose-solution-options-padding / 2});
        }
        .paragraph-image {
            margin-top: 0;
            margin-bottom: 25px;
        }

        .btn.choose {
            float: right;
        }
    }
}

#subscribe {
    .section-container {
        .btn[type="submit"] {
            margin-top: 75px;
        }
    }
    form .form-row {
        input, textarea {
            -webkit-text-fill-color: white;
            &.filled {
                -webkit-text-fill-color: white;
                color: white;
                border-color: white;
            }
        }
    }
}

#webstore {
    .section-container {
        .btn.subscribe {
            float: right;
        }
    }
}

#thanks {

}

.section-container {
    .option {
        float: left;
        .choose {
            text-align: center;
            margin-top: 40px;
        }

        &:last-child {
            float: right;
        }

        .paragraph-title {
            letter-spacing: 1px;
            line-height: $get-started-options-line-height;
        }
        p {
            line-height: $get-started-options-line-height;
        }
    }
}