.page-content {
    width: calc(100% - #{$navbar-width});
    margin-left: $navbar-width;

    section {
        @include viewport-unit(min-height, 100vh);
        height: auto;
        width: 100%;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        .navigation-control {
            &.previous, &.next {
                position: absolute;
                padding: 5px 10px;
                font-size: 24px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            &.previous {
                top: 10px;
            }
            &.next {
                bottom: 10px;
            }
        }
    }
}

.section-container {
    margin: 100px 0;

    .section-content {
        width: 900px;
        margin-left: auto;
        margin-right: auto;

        .paragraph {
            margin-bottom: 30px;

            .paragraph-title {
                font-weight: bolder;
                letter-spacing: 2px;
                //margin-bottom: 6px;
                line-height: $paragraph-line-height;
            }

            a {
                text-transform: none;
                font-style: italic;
            }
        }

        .paragraph-image {
            margin: $layout-padding/2 0 $layout-padding 0;

            img.preview {
                display: inherit;
                box-shadow: 0px 11px 37px 2px rgba(0,0,0,0.2);
                &.img-large {
                    width: 100%;
                }
                &.img-small {
                    width: 50%;
                    margin: auto;
                }
            }
        }

        .paragraph-icons {
            margin: $layout-padding 0;

            display: flex;
            justify-content: space-between;

            img {
                width: 100%;
            }

            .fourth {
                width: 21%;
                .icon-title {
                    margin-top: $layout-padding/2;
                }
            }
        }
    }
}
