#page-loader {
    position:fixed;
    height: 100%;
    width: 100%;

    background-color: $opfront-white;

    transition: ease 0.5s;

    &.hidden {
        opacity: 0;
        z-index: -1;
    }

    z-index: 5;

    .loader {
        position: relative;
        height: 100%;
        width: 100%;

        color: $opfront-gray;

        h2.title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 974px;

            &:after {
                content: 'soyez vu en ligne';
                position: absolute;
                top: 0;
                left: 0;

                white-space: nowrap;
                overflow: hidden;

                font-size: 90px;
                @include letter-spacing-from-adobe(90);
                color: $opfront-black;

                width: 100%;

                animation: loading 2s;
                animation-timing-function: cubic-bezier(1,.25,.63,1.04);
            }
        }
    }
}

@keyframes loading {
    0% {
        width: 0;
    }
    15% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


@media #{$tablet-media-query} {
    #page-loader {
        .loader {
            h2.title {
                width: 690px;
                font-size: 60px;
                &:after {
                    font-size: 60px;
                }
            }
        }
    }
}

@media #{$phone-media-query} {
    #page-loader {
        .loader {
            h2.title {
                width: 290px;
                font-size: 18px;
                &:after {
                    font-size: 18px;
                }
            }
        }
    }
}