.parallax {
    #red-stick, #black-stick, #teal-stick {
        position: fixed;
    }
}

#red-stick {
    top: 50%;
    right: 6%;
    width: 80px;
    .cls-2 {
        fill: #b00;
    }

    .cls-3 {
        fill: #ed0000;
    }

    .cls-4 {
        fill: #930000;
    }
}

#teal-stick {
    left: calc(11% + #{$navbar-width});
    top: 15%;
    width: 40px;
    .cls-2 {
        fill: #00f1ea;
    }

    .cls-3 {
        fill: #009d98;
    }

    .cls-4 {
        fill: #008c87;
    }
}

#black-stick {
    top: 77%;
    left: calc(5% + #{$navbar-width});
    width: 100px;
    .cls-2 {
        fill: #464646;
    }
    .cls-3 {
        fill: #1b1b1b;
    }
    .cls-4 {
        fill: #282828;
    }
}

@media (max-width: 1300px) {
    #red-stick {
        right: 2%;
    }

    #teal-stick {
        left: calc(5% + #{$navbar-width});
    }

    #black-stick {
        left: $navbar-width + 10px;
    }
}

@media (max-width: 1075px) {
    .parallax {
        display: none;
    }
}