// RESPONSIVE

$breakpoints: (
    'phone': 450px,
    'tablet': 768px,
    'desktop': 1024px,
) !default;


// COLORS

$opfront-teal: rgb(39, 231, 217);
$opfront-red: rgb(251, 0, 12);
$opfront-black: black;
$opfront-white: white;
$opfont-white-alpha: rgba(255,255,255,0.2);
$opfront-gray: rgb(174, 174, 174);

$menu-border-color: $opfont-white-alpha;

// LAYOUT
$boobs: 25px;
$layout-padding: 85px;

$paragraph-line-height: 24px;


// GLOBAL
$default-transition-time: 0.3s;


// NAVBAR

$navbar-inner-width: 150px;
$navbar-padding: 40px;
$navbar-width: $navbar-inner-width + $navbar-padding*2;
$menu-button-size: 16px;
$menu-item-width: $navbar-inner-width;
$menu-close-btn-width: 10.22px;


// FONT SIZE
$default-font-size: 12px;
$buttons-font-size: 14px;
$nav-font-size: 13px;


// FORM
$form-layout-padding: 4px;
$form-input-height: 42px;
$form-textarea-height: 150px;


// GET STARTED
$get-started-options-padding: 25px;
$choose-solution-options-padding: 200px;
$get-started-options-line-height: 20px;
$get-started-animation-duration: 0.6s;
