<div class="paragraph">
    <form action="" id="contact-us-form" enctype="application/json">
        {{ range .Params.form.contact }}
            {{ if eq .type "textarea" }}
                <div class="form-input textarea">
                    <textarea name="{{ .name }}" placeholder="{{ .placeholder }}" class="no-glow"></textarea>
                </div>
            {{ else if  eq .type "submit" }}
                <div class="form-input submit">
                    <button class="btn" type="submit" form="contact-us-form" value="Submit">{{ .placeholder }}</button>
                </div>
            {{ else }}
                <div class="form-input half {{ with .required }}required{{ end }}">
                    <input name="{{ .name }}" type="{{ .type }}" placeholder="{{ .placeholder }}" class="teal-glow"
                           {{ with .required }}required{{ end }}>
                </div>
            {{ end }}
        {{ end }}
        <div style="clear: both;"></div>
    </form>
</div>

{{ partial "paragraph.html" .Params.thanks }}
