<div class="row">
    <div class="half-col">
        {{ partial "paragraph.html" (index .Params.paragraphs 0) }}
        {{ partial "startNowButton.html" "get-started-templates" }}
    </div>
    <div class="half-col">
        <div class="paragraph-image">
            <img class="preview img-large" src="{{ .Site.BaseURL }}/img/preview_{{ .Lang }}.jpg" alt="App preview">
        </div>
    </div>
</div>


<div class="row reverse">
    <div class="half-col">
        {{ partial "paragraph.html" (index .Params.paragraphs 1) }}
        {{ partial "startNowButton.html" "get-started-integrations" }}
    </div>
    <div class="half-col">
        <div class="paragraph-image text-center">
            <img class="img-large" src="{{ .Site.BaseURL }}/img/ehr-integration.png" alt="ehr software integrations">
            <p class="image-caption">
                {{ .Params.using_another_system }}&nbsp;?
                <span class="visible-phone-inline"><br/></span>
                <a class="classic-link" href="#contact">{{ .Params.contact_us }}</a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="half-col">
        {{ partial "paragraph.html" (index .Params.paragraphs 2) }}
        {{ partial "startNowButton.html" "get-started-features" }}
    </div>
    <div class="half-col">
        <div class="paragraph-icons">
            {{ range .Params.icons }}
                <div class="fourth">
                    <img src="{{ .Site.BaseURL }}/img/icon-{{ .name }}.png">
                    <h3 class="icon-title">{{ safeHTML .label }}</h3>
                </div>
            {{ end }}
        </div>
    </div>
</div>

<div class="row reverse">
    <div class="half-col">
        {{ partial "paragraph.html" (index .Params.paragraphs 1) }}
        {{ partial "startNowButton.html" "get-started-integrations" }}
    </div>
    <div class="half-col">
        <div class="paragraph-image text-center">
            <img class="img-large" src="{{ .Site.BaseURL }}/img/ehr-integration.png" alt="ehr software integrations">
            <p class="image-caption">
                {{ .Params.using_another_system }}&nbsp;?
                <span class="visible-phone-inline"><br/></span>
                <a class="classic-link" href="#contact">{{ .Params.contact_us }}</a>
            </p>
        </div>
    </div>
</div>
