<section id="header">
    <div class="section-container">
        <h1 class="title tagline">
            {{ .Params.clinic }}<span class="hidden-phone">.</span>
            <div class="linebreak visible-tablet"></div>
            {{ .Params.services }}<span class="hidden-phone">.</span>
            <div class="linebreak visible-tablet"></div>
            {{ .Params.inventory }}<span class="hidden-phone">.</span>
            <div class="linebreak visible-tablet"></div>
            <span class="title-emphasis">
                {{ .Params.online }}<span class="hidden-phone">.</span>
            </span>
        </h1>
        <div class="section-content">
            {{ .Content }}
            {{ partial "startNowButton.html" "get-started-head" }}
        </div>
    </div>
    <div class="support">
        <div>
            <h4 class="support-title">{{ .Params.support }}</h4>
        </div>
        <div class="support-img">
            <a href="http://www.opto.ca" target="_blank"><img src="/img/CAO-logo-800.png" alt="Canadian Association of Optometry"></a>
        </div>
    </div>
</section>
