<section id="footer">

	<div class="newsletter">
		<div class="section-container" style="margin: 0;">
      	<div class="section-content">

      		<div class="inline">
        		<p>Inscrivez-vous a l'infolettre</p>
        	</div>

        	<div class="inline">
          	<input name="name"></input>
          </div>

					<div class="inline">
						<button class="btn" type="submit" form="contact-us-form" value="Submit">S'inscrire</button>
					</div>

      	</div>
  	</div>
	</div>

	<div class="sitemap">
		<div class="section-container">
	      	<div class="section-content" style="overflow: auto;">
						<div class="inline">
							<ul>
								<li>Avantages</li>
								<li>Vision</li>
								<li>A Propos</li>
								<li>Contact</li>
							</ul>
						</div>

						<div class="social-media inline">
							<span class="fa fa-2x fa-facebook-square"></span>
							<span class="fa fa-2x fa-linkedin-square"></span>
						</div>
	      	</div>
	  	</div>
	</div>
</section>
