<footer>
    <div class="subfooter social">
        <div class="subfooter-content">
            <div class="sitemap">
              {{ range .Site.Menus.main }}
                <a href="{{ .URL | relLangURL }}">{{ i18n .Identifier }}</a>
              {{ end }}
            </div>
            <div class="contact-info address">
                <p class="greeting">{{ i18n "contact-subtitle" }}</p>
                <p>{{ i18n "address" }}</p>
                <p>{{ i18n "city" }}</p>
                <p>{{ i18n "suite" }}</p>
                <p><img class="phone" src="{{ .Site.BaseURL }}/img/phone.png" alt="Phone icon">{{ i18n "phone" }}</p>
                <div class="social-icon">
                    <a href="https://www.facebook.com/Opfront/" target="_blank">
                        <i class="fa fa-lg fa-facebook-square"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/opfront" target="_blank">
                        <i class="fa fa-lg fa-linkedin-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
