<section id="header">
    <div class="section-container">
        <h1 class="title tagline">
            {{ i18n "head-clinic" }}<span class="hidden-phone">.</span>
            <div class="linebreak visible-tablet"></div>
            {{ i18n "head-services" }}<span class="hidden-phone">.</span>
            <div class="linebreak visible-tablet"></div>
            {{ i18n "head-inventory" }}<span class="hidden-phone">.</span>
            <div class="linebreak visible-tablet"></div>
            <span class="title-emphasis">
                {{ i18n "head-online" }}<span class="hidden-phone">.</span>
            </span>
        </h1>
        <div class="section-content">
            <p>{{ i18n "headline" }}</p>
            {{ partial "startNowButton.html" "get-started-head" }}
        </div>
    </div>
   <!-- <div class="support">
        <div>
            <h4 class="support-title">{{ i18n "head-support" }}</h4>
        </div>
        <div class="partner">
            <div class="support-img">
                <a href="http://regardaction.com/" target="_blank"><img src="/img/logo-regardaction.png" alt="Regard Action"></a>
            </div>
            <div class="support-img">
                <a href="http://www.opto.ca" target="_blank"><img src="/img/CAO-logo-800.png" alt="Canadian Association of Optometry"></a>
            </div>
        </div>
    </div> -->
</section>
<div class="press">
    <h5><em>{{ i18n "press-coverage" }}</em></h5>
    <div class="press-link">
        <a href="http://opticalprism.ca/next-gen-tech-savvy-optometrist-dr-patrick-sauvageau/" target="_blank"><img src="/img/optical-prism.png" alt="Optical Prism"/></a>
        <a href="https://opto.ca/association/content/member-profile-dr-patrick-sauvageau" target="_blank"><img src="/img/CAO-logo.png" alt="Association Canadienne des Optométristes"/></a>
    </div>
</div>
