<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "meta.html" . }}

        {{ partial "headIncludes.html" . }}
    </head>
    <body>

        {{ partial "navbar.html" . }}

        <div class="page-content">
            <div class="header-404"></div>
            <section id="404" class="section-404">
                <div class="section-container content-404">
                    <div class="text-404 border-bottom-404">
                        <h1 class="subtitle">you lost, doc?</h1>
                        <p>
                            The page you are looking for could not be found. Return to <a href="{{ .Site.BaseURL }}">homepage</a>.
                        </p>
                    </div>
                    <div class="text-404">
                        <h1 class="subtitle">Es-tu perdu, doc?</h1>
                        <p>
                            La page recherchée n'a pu être trouvée. Retourner à la <a href="{{ .Site.BaseURL }}">page d'accueil</a>.
                        </p>
                    </div>
                </div>
            </section>
        </div>

        {{ partial "footer.html" . }}

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        {{ partial "analytics.html" . }}
        <!--<script src="{{ .Site.BaseURL }}/cookie.js"></script>-->

        <!--{{ if in (printf "%v" $.Site.BaseURL) "localhost" }}-->
        <!--<script src="{{ .Site.BaseURL }}/index.js"></script>-->
        <!--{{ else }}-->
        <!--<script src="{{ .Site.BaseURL }}/index.min.js"></script>-->
        <!--{{ end }}-->

    </body>
</html>
