.btn {
    text-align: center;
    font-size: $buttons-font-size;
    letter-spacing: 1px;

    cursor: pointer;
    padding: 8px 30px;

    transition: $default-transition-time;

    &:focus, &:active {
        outline: none;
    }

    background-color: transparent;
    border: 2px solid $opfront-teal;
    color: $opfront-teal;
    &:hover {
        background-color: $opfront-teal;
        color: white;
    }
    &.active {
        background-color: $opfront-teal;
        color: $opfront-black;
    }

    &.inverted {
        background-color: white;
        color: black;
        &:hover {
            color: $opfront-teal;
        }
    }

    &:disabled {
        color: $opfront-gray;
        background-color: lighten($opfront-teal, 25%);
        border-color: lighten($opfront-teal, 25%);
        cursor: default;
    }
}

.start-now {
    width:100%;
    text-align: center;
    margin: $layout-padding 0;
}

@media #{$phone-media-query} {
    .btn {
        font-size: 15px;
    }
    .start-now .btn {
        width: 200px;
    }
}
