footer {
    width: calc(100% - #{$navbar-width});
    margin-left: $navbar-width;
    color: $opfront-white;

    .main-footer {
      display: flex;
      padding: $boobs*3 $boobs;
      justify-content: space-between;
      background-color: $opfront-dark-gray;

      .footer-col-title {
        font-weight: 600;
        text-transform: uppercase;
        line-height: $boobs;
      }

      ul {
        margin-top: $boobs;
        li {
          width: 100%;
          border-bottom: 1px solid rgba(255,255,255,0.3);
          a {
            color: $opfront-white;
            font-size: $sitemap-font-size;
            text-transform: none;
            line-height: 35px;
          }
        }
      }

      .contact-info {
          display: flex;
          flex-direction: column;

          p, a {
            color: $opfront-white;
            font-size: $sitemap-font-size;
            text-transform: none;
            line-height: $boobs;
          }

          a {
            text-decoration: underline;
          }

          .greeting {
            margin-bottom: $boobs;
            color: $opfront-teal;
            line-height: $boobs;
          }

          .social-icon {
              margin-top: $boobs;

              a {
                  color: inherit;
                  padding-right: 10px;
                  transition: ease 0.5s;
                  text-decoration: none;

                  &:hover {
                      color: $opfront-teal;
                  }
              }
          }
      }
    }

    .sub-footer {
      background-color: $opfront-black;
      min-height: 100px;
      display: flex;
      padding: 0 $boobs;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      p {
        font-size: 0.9rem;
      }

      img {
        width: 125px;
      }
    }

    input {
        background-color: transparent;
        color: inherit;
        outline: none;
        max-width: 225px;
        border: $input-footer-border;
        text-transform: none;

        &.filled {
            border-color: $input-border-grey;
        }
    }
}

// MOBILE
@media #{$tablet-media-query} {
    footer {
        width: calc(100% - #{$navbar-mobile-width});
        margin-left: $navbar-mobile-width;

        .sub-footer {
          img {
            width: 75px;
          }
        }

        .main-footer {
          display: block;
          overflow: hidden;

          .footer-col {
            margin-top: $boobs;
            min-height: 350px;
            float: left;
            width: 50%;

            li {
              max-width: 80%;
            }
          }
        }
    }
}

@media #{$phone-media-query} {
    footer {
        .sub-footer {
          padding: $boobs/2;
          display: block;
          text-align: center;
        }

        .main-footer {
          display: block;
          padding: $boobs*2 $boobs;

          .footer-col {
            margin-top: $boobs;
            min-height: 0;
            float: none;
            width: 100%;
            margin-bottom: $boobs*2;

            li {
              max-width: 80%;
            }
          }
        }
    }
}
