footer {
    width: calc(100% - #{$navbar-width});
    margin-left: $navbar-width;
    color: $opfront-white;

    input {
        background-color: transparent;
        color: inherit;
        outline: none;
        max-width: 200px;
        border: $input-footer-border;
        text-transform: none;

        &.filled {
            border-color: $input-border-grey;
        }
    }
}

.subfooter {
    width: 100%;
    height: $subfooter-height;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;

    &.newsletter {
        background-color: $opfront-dark-gray;
    }

    &.social {
        background-color: $opfront-black;
    }

    .subfooter-content {
        width: $content-width-desktop;
        height: 100%;
        color: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sitemap {
            display: flex;

            a {
                color: inherit;
                padding-right: 20px;
                font-size: $sitemap-font-size;
                transition: ease 0.5s;

                &:hover {
                    color: $opfront-teal;
                }
            }
        }

        .social-icon {
            a {
                color: inherit;
                padding: 10px;
                transition: ease 0.5s;

                &:hover {
                    color: $opfront-teal;
                }
            }
        }
    }
}

@media #{$small-desktop-media-query} {
    .subfooter {
        .subfooter-content {
            width: $content-width-small-desktop;
        }
    }
}

// MOBILE
@media #{$tablet-media-query} {
    footer {
        width: calc(100% - #{$navbar-mobile-width});
        margin-left: $navbar-mobile-width;
    }

    .subfooter {
        .subfooter-content {
            width: 600px;
            max-width: calc(100% - #{$tablet-padding*2});
            flex-direction: column;
            justify-content: center;

            div {
                padding-bottom: 20px;
            }

            span {
                padding-bottom: 10px;
            }
        }
    }
}

@media #{$phone-media-query} {
    .subfooter {
        .subfooter-content {
            width: calc(100% - #{$mobile-padding*2});
            max-width: 450px;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .sitemap {
                flex-direction: column;

                a {
                    padding-bottom: 10px;
                    padding-right: 0;
                }
            }

            .social-icon {
                justify-content: center;
            }
        }
    }

    input {
        margin-bottom: 10px;
    }
}
