.page-content {
    width: calc(100% - #{$navbar-width});
    margin-left: $navbar-width;

    section {
        @include viewport-unit(min-height, 100vh);
        height: auto;
        width: 100%;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        .navigation-control {
            &.previous, &.next {
                position: absolute;
                padding: 5px 10px;
                font-sjize: 24px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            &.previous {
                top: 10px;
            }
            &.next {
                bottom: 10px;
            }
        }
    }
}

.section-container {
    margin: 100px $layout-padding;

    .section-content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .paragraph {
            margin-bottom: 30px;

            .paragraph-title {
                font-weight: bolder;
                letter-spacing: 2px;
                line-height: $paragraph-line-height;
            }
        }

        .paragraph-image {
            margin: $layout-padding/2 0 $layout-padding 0;

            img {
                &.preview {
                    display: inherit;
                    box-shadow: 0px 11px 37px 2px rgba(0, 0, 0, 0.2);
                }
                &.img-large {
                    width: 90%;
                    margin: auto;
                }
                &.img-medium {
                  width: 70%;
                  margin: auto;
                }
                &.img-small {
                    width: 50%;
                    margin: auto;
                }
            }

            p.image-caption {
              margin-top: $boobs;
            }
        }

        .paragraph-icons {
            margin: $layout-padding 0;

            display: flex;
            justify-content: space-around;

            img {
                width: 100%;
            }

            .fourth {
                width: 15%;
                .icon-title {
                    margin-top: $layout-padding/2;
                    letter-spacing: 0;
                }
                // Hack to have icon titles displayed on 2 lines, they are actually too large for paragraph-image
                &:nth-child(1) .icon-title {
                    margin-left: -10px;
                    margin-right: -10px;
                }
                &:nth-child(2) .icon-title {
                    margin-left: -15px;
                    margin-right: -15px;
                }
                &:nth-child(3) .icon-title {
                    margin-left: -30px;
                    margin-right: -30px;
                }
            }
        }
    }
}

.linebreak {
    height: 20px;
}

@media #{$tablet-media-query} {
    .page-content {
        width: calc(100% - #{$navbar-mobile-width});
        margin-left: $navbar-mobile-width;
    }

    .section-container .section-content {
        width: 100%;
        max-width: calc(100% - #{$tablet-padding*2});
        .paragraph-icons {
            .fourth {
                .icon-title {
                    font-size: 15px;
                    margin-top: $layout-padding/4;
                }
            }
        }
    }
}

@media #{$phone-media-query} {
    .page-content {
        section:not(#header) {
            min-height: 0;
            .section-container {
                .section-content {
                    .start-now:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .section-container {
        .section-content {
            width: calc(100% - #{$mobile-padding*2});
            max-width: 450px;
        }
    }

    .section-container {
        .section-content {
            .paragraph-icons {
                flex-direction: column;
                .fourth {
                    width: 50%;
                    margin: 0 auto 50px auto;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .paragraph-image {
                img {
                    &.img-medium {
                        width: 90%;
                    }
                    &.img-small {
                        width: 70%;
                    }
                }
            }
        }
    }
}
