.parallax {
    #red-stick, #black-stick, #teal-stick {
        position: fixed;
				z-index: -1;
    }
}

#red-stick {
    top: 50%;
    right: 4%;
    width: 80px;
    .cls-2 {
        fill: #b00;
    }

    .cls-3 {
        fill: #ed0000;
    }

    .cls-4 {
        fill: #930000;
    }
}

#teal-stick {
    left: calc(7% + #{$navbar-width});
    top: 15%;
    width: 40px;
    .cls-2 {
        fill: #00f1ea;
    }

    .cls-3 {
        fill: #009d98;
    }

    .cls-4 {
        fill: #008c87;
    }
}

#black-stick {
    top: 77%;
    left: calc(3% + #{$navbar-width});
    width: 100px;
    .cls-2 {
        fill: #464646;
    }
    .cls-3 {
        fill: #1b1b1b;
    }
    .cls-4 {
        fill: #282828;
    }
}

@media only screen and (max-width: $mobile-menu) {
    #red-stick {
        right: 6%;
    }

    #teal-stick {
        left: calc(12% + #{$navbar-mobile-width});
    }

    #black-stick {
        left: $navbar-mobile-width + 40px;
    }
}

@media only screen and (max-width: $parallax-responsive-point) {
    .parallax {
        display: none;
    }
}
