.feature-description {
  h2 {
    color: red;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1rem;
  }
  h3 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 4rem;
  }
  ul li {
    text-transform: none;
    line-height: 2rem;

    &::before{
      font-family: FontAwesome;
      content: "\f00c";
      color: $opfront-teal;
      text-align: center;
      margin-right: 20px;
      display: inline-block;
    }
  }
}
