@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 100;
    src: url('./font/MuseoSans-100.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Sans';
    font-style: italic;
    font-weight: 100;
    src: url('./font/MuseoSans-100Italic.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 300;
    src: url('./font/MuseoSans-300.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Sans';
    font-style: italic;
    font-weight: 300;
    src: url('./font/MuseoSans-300Italic.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./font/MuseoSans-500.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Sans';
    font-style: italic;
    font-weight: 500;
    src: url('./font/MuseoSans-500Italic.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 700;
    src: url('./font/MuseoSans-700.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Sans';
    font-style: italic;
    font-weight: 700;
    src: url('./font/MuseoSans-700Italic.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 900;
    src: url('./font/MuseoSans-900.otf') format('opentype');
}
@font-face {
    font-family: 'Museo Sans';
    font-style: italic;
    font-weight: 900;
    src: url('./font/MuseoSans-900Italic.otf') format('opentype');
}

*, body {
    font-family: 'Museo Sans', 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: $default-font-size;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 700;
}

h2 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;
}

h3, h4, h5, h6 {
    font-size: $default-font-size;
}

em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

.single-page-title h1 {
    font-size: 45px;
    font-weight: 400;
}

.single-page-content {
    .section-content {
        a, span, li, code, em, strong {
            text-transform: initial;
        }

        p {
            text-transform: initial;
            font-weight: 300;
        }

        h2 {
            font-size: 26px;
            line-height: 26px;
            font-weight: normal;
        }
        pre {
            white-space: pre;
            word-wrap: break-word;
            overflow: auto;
            code {
                font-family: monospace;
                font-size: 16px;
                line-height: 20px;
            }
        }
        a {
            text-decoration: underline;
        }
    }
}

.text-center {
    text-align: center;
}

.title {
    @include letter-spacing-from-adobe(90);
    @extend .text-center;
}

.subtitle {
    @extend .title;
    margin-bottom: $layout-padding;
}

.title-emphasis {
    color: $opfront-teal;
}

.tagline {
    margin-bottom: 40px;
    width: 100%;
}

.icon-title {
    @extend .text-center;
    letter-spacing: 1px;
    line-height: $paragraph-line-height;
}

a {
    text-decoration: none;
    color: $opfront-black;
    font-weight: normal;
    &:hover {
        cursor: pointer;
    }
    &.classic-link {
        text-transform: none;
        font-style: italic;
        &:hover {
            text-decoration: underline;
        }
    }

    &.blogpost-title {
        line-height: 25px;
    }
}

p {
    font-weight: normal;
    text-transform: none;
    line-height: $paragraph-line-height;
    font-size: $default-font-size;
}

@media #{$tablet-media-query} {
    .tagline {
        width: calc(100% - #{$tablet-padding*2});
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 60px;
    }

    h3, h4, h5, h6 {
        font-size: 18px;
    }
}

@media #{$phone-media-query} {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 24px;
    }

    h3, h4, h5, h6 {
        font-size: 15px;
    }
    p {
        font-size: 15px;
    }
    .subtitle {
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    }
    .tagline {
        width: calc(100% - #{$mobile-padding});
        letter-spacing: 3px;
    }

    .single-page-content {
        .section-content {
            h2 {
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
}

@media only screen and (max-device-width: #{$small-phone - 1}) {
    .tagline {
        letter-spacing: 1px;
    }
}
