<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "meta.html" . }}

    {{ partial "headIncludes.html" . }}
</head>
<body>

{{ partial "navbar.html" . }}

<div class="page-content">
    <div class="single-page-title blog-title black-filter" style='background-image: url({{ .Params.backgroundimage }});'>
        <div class="section-container">
            <div class="section-content">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </div>
    <section id="blog">
        <div class="section-container">
            <div class="section-content">
                {{ range .Data.Pages }}
                    <span class="date">
                    {{ if eq .Lang "fr" }}
                        {{ .PublishDate.Day }} {{ index $.Site.Data.months (printf "%d" .PublishDate.Month) }} {{ .PublishDate.Year }}
                    {{ else }}
                        {{ .PublishDate.Month }} {{ .PublishDate.Day }} {{ .PublishDate.Year }}
                    {{ end }}
                    </span>
                    <span class="separator">//</span><a class="blogpost-title" href="{{ .URL }}">{{ .Title }}</a>
                {{ end }}
            </div>
        </div>
    </section>
</div>

{{ partial "footer.html" . }}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{{ partial "analytics.html" . }}

<script src="{{ .Site.BaseURL }}/cookie.js"></script>

{{ if in (printf "%v" $.Site.BaseURL) "localhost" }}
<script src="{{ .Site.BaseURL }}/index.js"></script>
{{ else }}
<script src="{{ .Site.BaseURL }}/index.min.js"></script>
{{ end }}

</body>
</html>
